<%= semantic_form_for @restoran do |f| %>
  <% f.inputs do %>
    <%= f.input :isim %>
    <br />
    <%= f.input :kisi , :label => "Restoran Kac Kisilik?"%>
    <br />
   
    <h3>Ogunler</h3>
    <div id='tasks'>
      <%= f.semantic_fields_for :restoran_oguns do |task| %>
        <%= render 'restoran_ogun_fields', :f => task %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Ogun Ekle', f, :restoran_oguns %>
      </div>
    </div>
    
      <%= f.submit 'Kaydet' %>
    
  <% end %>
<% end %>
