<%= semantic_form_for @yemek do |f| %>
  <% f.inputs do %>
    <%= f.input :isim %>
    <br />
    <%= f.input :kisi , :label => "Kisi Sayisi"%>
    <br />
    <%= f.collection_select :yemek_kategori_id, YemekKategori.all, :id, :isim, {:prompt => "Kategori sec"}%>
    <br />
    <%= f.collection_select :mekan_id, Mekan.mutfak_bar, :id, :isim, {:prompt => "Mutfak sec"}%>
     <br />
    <h3>Malzemeler</h3>
    <div id='tasks'>
      <%= f.semantic_fields_for :yemek_malzemes do |task| %>
        <%= render 'yemek_malzeme_fields', :f => task %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Malzeme Ekle', f, :yemek_malzemes %>
      </div>
    </div>
     <br /><br />
    <div id='alts'>
      <%= f.semantic_fields_for :alt_yemeks do |task| %>
        <%= render 'alt_yemek_fields', :f => task %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Yemek Ekle', f, :alt_yemeks %>
      </div>
    </div>

 <br /><br />
      <%= f.submit 'Kaydet' %>
    
  <% end %>
<% end %>
