<%= semantic_form_for @menu do |f| %>
  <% f.inputs do %>
    <%= f.input :isim %>
    <br />
    <%= f.input :kisi , :label => "Menu Kac Kisilik?"%>
    <br />
    <%= f.label "Tarih" %>
    <%= f.date_field :tarih%><br /><br />
    <%= f.label "Durum" %><%= f.select(:is_active,[['Aktif', 1], ['Pasif', 2]] )%>
    <br /><br />
    <%= f.label "Ogun" %><%= f.collection_select :ogun_id, Ogun.all, :id, :isim, {:prompt => "Ogun sec"}%>
    <br /><br />
    <%= f.label "Restoran" %><%= f.collection_select :restoran_id, Restoran.all, :id, :isim, {:prompt => "Restoran sec"}%>
    <br /><br />
    <h3>Yemekler</h3>
    <div id='tasks'>
      <%= f.semantic_fields_for :menu_yemeks do |task| %>
        <%= render 'menu_yemek_fields', :f => task %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Yemek Ekle', f, :menu_yemeks %>
      </div>
    </div>
 <br /><br />
      <%= f.submit 'Kaydet' %>
    
  <% end %>
<% end %>
