<div class="row">
  <div class="col-sm-12">
  <p id="notice"><%= notice %></p>
  
  <h1>Menuler</h1>
  <div class="table-responsive">
    <table class="table">
      <tbody>
      <tr><td>Isim</td><td>Kisi</td><td>Tarih</td><td>Maliyet</td><td>Ogun</td><td>Restoran</td>
      <td></td>
      </tr>
        <% @menus.each do |menu| %>
          <tr>
            <td><%= menu.isim %></td>
            <td><%= menu.kisi %></td>
            <td><%= menu.tarih %></td>
            <td><%= menu.maliyet %> TL</td>
            <td><%= menu.ogun.isim %></td>
            <td><%= menu.mekan.isim %></td>
            <td><div class="dropdown">
  <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Aksiyonlar
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><%= link_to 'Goster', menu %></li>
    <li><%= link_to 'Duzenle', edit_menu_path(menu) %></li>
    <li><%= link_to 'Kopyala', kopyala_menu_path(menu) %></li>
    <li><%= link_to 'Aktiflestir', aktif_menu_path(menu) %></li>
    <li><%= link_to 'Yemek Uretimi', uretim_menu_path(menu) %></li>
    <li><%= link_to 'Artan Yemek  Girisi', artan_menu_path(menu) %></li>
    <li><%= link_to 'Teslimat Formu', teslimat_menu_path(menu) %></li>
    <li><%= link_to 'Sil', menu, method: :delete, data: { confirm: 'Emin misiniz?' } %></li>
  </ul>
</div></td>
          
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <br>
  
  <%= link_to 'Yeni Menu Olustur', new_menu_path %>
  </div>
</div>