<p id="notice"><%= notice %></p>

<p>
  <strong>Isim:</strong>
  <%= @ogun.isim %>
</p>

<p>
  <strong>Baslangic:</strong>
  <%= @ogun.baslangic %>
</p>

<p>
  <strong>Bitis:</strong>
  <%= @ogun.bitis %>
</p>

<%= link_to 'Edit', edit_ogun_path(@ogun) %> |
<%= link_to 'Back', oguns_path %>
