<%= semantic_form_for @alt_yemek do |f| %>
  <% f.inputs do %>
    <%= f.input :isim %>
    <br />
    <%= f.input :kisi , :label => "Kisi Sayisi"%>
    <br />
    <%= f.collection_select :yemek_kategori_id, YemekKategori.all, :id, :isim, {:prompt => "Kategori sec"}%>
    <h3>Malzemeler</h3>
    <div id='tasks'>
      <%= f.semantic_fields_for :malzeme_altyemeks do |task| %>
        <%= render 'malzeme_altyemek_fields', :f => task %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Malzeme Ekle', f, :malzeme_altyemeks %>
      </div>
    </div>
     <br /><br />

      <%= f.submit 'Kaydet' %>

        <% end %>
<% end %>