<p id="notice"><%= notice %></p>

<h1>Birims</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @birims.each do |birim| %>
      <tr>
        <td><%= birim.isim %></td>
        <td><%= link_to 'Show', birim %></td>
        <td><%= link_to 'Edit', edit_birim_path(birim) %></td>
        <td><%= link_to 'Destroy', birim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Birim', new_birim_path %>
