<p id="notice"><%= notice %></p>

<h1>Yemek Malzemes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yemek_malzemes.each do |yemek_malzeme| %>
      <tr>
        <td><%= link_to 'Show', yemek_malzeme %></td>
        <td><%= link_to 'Edit', edit_yemek_malzeme_path(yemek_malzeme) %></td>
        <td><%= link_to 'Destroy', yemek_malzeme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yemek Malzeme', new_yemek_malzeme_path %>
