<p id="notice"><%= notice %></p>

<h1>Siparis Formus</h1>

<table>
  <thead>
    <tr>
      <th>Malzeme</th>
      <th>Miktar</th>
      <th>Menu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @siparis_formus.each do |siparis_formu| %>
      <tr>
        <td><%= siparis_formu.malzeme_id %></td>
        <td><%= siparis_formu.miktar %></td>
        <td><%= siparis_formu.menu_id %></td>
        <td><%= link_to 'Show', siparis_formu %></td>
        <td><%= link_to 'Edit', edit_siparis_formu_path(siparis_formu) %></td>
        <td><%= link_to 'Destroy', siparis_formu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Siparis Formu', new_siparis_formu_path %>
