<!DOCTYPE html>
<html>
  <head>
    <title>Kitchen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <div style="">
        <div style="float:left">
          <div><%= link_to "Birimler", birims_path%></div>
          <div><%= link_to "Mekanlar", mekans_path%></div>
          <div><%= link_to "Malzemeler", malzemes_path%></div>
          <div><%= link_to "Malzeme Kategorileri", malzeme_kategoris_path%></div>
         
          <div><%= link_to "Yemek Kategorileri", yemek_kategoris_path%></div>

          <div><%= link_to "Ogunler", malzemes_path%></div>
           <div><%= link_to "Kullanıcı rolleri", user_roles_path%></div>
        </div>
        <div style="float:left;margin-left:50px">
            <div><%= link_to "Menuler", menus_path%></div>
            <div><%= link_to "Yemekler", yemeks_path%></div>
            <div><%= link_to "Stok Yonetimi", stoks_path%></div>
            <div><%= link_to "Kullanicilar", user_management_path%></div>
        </div>
        <br /><br /><br /><br /><br /><br /><br />
        <div style="float: right">
        <% if current_user.is_a?(User) %>
      <%= link_to "Cikis", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Kaydol", new_user_registration_path %>
      <%= link_to "Giris Yap", new_user_session_path %>
    <% end %>
    </div>
    </div>
    <%= yield %>
  </body>
</html>
