<h2>Mutfak Yonetim Seysi</h2>
<br /><br /><br /><br /><br /><br />
<%= link_to 'Birim olustur', new_birim_path %><br />
<%= link_to 'Birimleri Goruntule', birims_path %> <br />
<br /><br />
<%= link_to 'Malzeme olustur', new_malzeme_path %><br />
<%= link_to 'Malzemeleri Goruntule', malzemes_path %> <br />
<br /><br />
<%= link_to 'Yemek olustur', new_yemek_path %><br />
<%= link_to 'Yemekleri Goruntule', yemeks_path %> <br />
<br /><br />
<%= link_to 'Menu olustur', new_menu_path %><br />
<%= link_to 'Menuleri Goruntule', menus_path %> <br />
<br /><br />
<%= link_to 'Ogun olustur', new_ogun_path %><br />
<%= link_to 'Ogunleri Goruntule', oguns_path %> <br />
<br /><br />
<%= link_to 'Restoran olustur', new_restoran_path %><br />
<%= link_to 'Restoranlariari Goruntule', restorans_path %> <br />
<br /><br />
<%= link_to 'Yemek Kategori olustur', new_yemek_kategori_path %><br />
<%= link_to 'Yemek Kategorileri Goruntule', yemek_kategoris_path %> <br />
<br /><br />
<%= link_to 'Malzeme Kategori olustur', new_malzeme_kategori_path %><br />
<%= link_to 'Malzeme Kategorileri Goruntule', malzeme_kategoris_path %> <br />
<br /><br />
<%= link_to 'Alt Yemek olustur', new_alt_yemek_path %><br />
<%= link_to 'Alt Yemekleri Goruntule', alt_yemeks_path %> <br />
