<h2>Mutfak Yonetim Seysi</h2>
<br /><br /><br /><br /><br /><br />
<%= link_to 'Birim olustur', new_birim_path %><br />
<%= link_to 'Birimleri Goruntule', birims_path %> <br />
<br /><br />
<%= link_to 'Malzeme olustur', new_malzeme_path %><br />
<%= link_to 'Malzemeleri Goruntule', malzemes_path %> <br />
<br /><br />
<%= link_to 'Yemek olustur', new_yemek_path %><br />
<%= link_to 'Yemekleri Goruntule', yemeks_path %> <br />
<br /><br />
<%= link_to 'Menu olustur', new_menu_path %><br />
<%= link_to 'Menuleri Goruntule', menus_path %> <br />
